<!DOCTYPE html>
<html>
	<body>
		<h1>Edit <%= pups.name %></h1>
		<form action='/mongooses/<%= pups.id %>' method='post'>
			<p>Name: <input type='text' name='name' value='<%= pups.name %>'></p>
			<p>Age: <input type='text' name='age' value='<%= pups.age %>'></p>
			<p>Breed: <input type='text' name='breed' value='<%= pups.breed %>'></p>
			<p><input type='submit' value='Save'></p>
		</form>
	</body>
</html>
